@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

:root {
  --color1: #b73e3e;
  --color2: ;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 5em;
}

/* NAV BAR AND HEADER SECTION */

#navbar {
  width: 100vw;
  height: 70px;
  position: fixed;
  background-color: var(--color1);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar a {
  padding: 23px 30px;
  text-decoration: none;
  color: black;
  transition: all ease-in-out 0.5s;
}

#navbar a:hover {
  padding: 23px 50px;
  color: white;
  background-color: rgb(145, 28, 28);
  transition: all ease-in-out 0.5s;
}

/* main section */

#welcome-section {
  background: linear-gradient(45deg, white, rgb(196, 196, 196));
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#person-pic {
  width: 50%;
  aspect-ratio: initial;
  filter: grayscale(0.5);
}

#welcome-section h1 {
  font-family: "Poppins", bold, sans-serif;
  line-height: 1em;
}

#welcome-section h2 {
  margin: 0 0 0 15px;
  font-weight: 100;
}

#welcome-section p {
  width: 80%;
  margin-top: 10px;
}

.red-text {
  color: rgb(165, 37, 37);
}

/* About me section */

#about-me {
  width: 100vw;
  height: 550px;
  background-color: var(--color1);
  display: flex;
  text-align: center;
}

.text-container {
  width: 60%;
  margin: auto;
  height: 75%;
  background-color: #dd5353;
}

.picture-me {
  width: 30%;
  margin: auto;
  height: 75%;
  overflow: hidden;
  background: url("https://i.ibb.co/SfJ9hTM/aboutmepic.jpg");
  background-position: center;
  background-size: cover;
}

.text-container p {
  padding: 0 30px;
}

/* Projects section */

#projects {
  height: 100vh;
  width: 100vw;
}

#projects h1 {
  margin-left: 13%;
  color: black;
  padding-top: 70px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  height: 540px;
  margin: auto;
}

.project-tile {
  margin: 0 10px;
  width: 30%;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
}

.project-img {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  filter: blur(5px);
  margin-bottom: -45%;
  transition: all ease-in-out 0.5s;
}

.project-img:hover {
  transform: scale(1);
  filter: blur(0px);
  transition: all ease-in-out 0.5s;
  margin-bottom: 0;
}

.project-img:hover + .project-name {
  color: transparent;
  transition: all ease-in-out 0.5s;
}

.project-name {
  font-size: 20px;
  color: black;
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  user-select: none;
  pointer-events: none;
  transition: all ease-in-out 0.5s;
  text-align: center;
}

.placeholder {
  background-color: var(--color1);
  width: 100%;
  height: 100%;
  margin-bottom: -43%;
}

/* SOCIAL MEDIA */

#profile-links {
  width: 100vw;
  height: 200px;
  background-color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-links li {
  list-style: none;
  display: inline;
  font-size: 50px;
  margin: 30px;
  transition: all ease-in-out 0.1s;
}

#profile-links li:hover {
  font-size: 60px;
  transition: all ease-in-out 0.1s;
}

#profile-links h2 {
  margin-right: 30px;
}

.fa {
  text-decoration: none;
  color: black;
}

/* Media optimizations for mobile and others */

@media screen and (max-width: 900px) {
  #navbar a {
    padding: 23px 10px;
  }
  #navbar a:hover {
    padding: 23px 10px;
  }
  #welcome-section {
    flex-direction: column-reverse;
    padding-top: 130px;
    overflow: hidden;
  }
  #person-pic {
    width: 100%;
    margin-top: -100px;
  }
  #about-me {
    flex-direction: column;
    height: auto;
  }
  .text-container {
    width: 90%;
    margin: 50px auto;
    padding: 10px;
  }
  .picture-me {
    width: 400px;
    height: 300px;
    margin-top: 50px;
  }
  #projects {
    height: auto;
    padding: 30px 0;
  }
  .projects-container {
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    row-gap: 30px;
  }
  .project-tile {
    width: 95%;
  }
  #profile-links {
    flex-direction: column;
  }
  #profile-links h2 {
    font-size: 20px;
    margin: auto;
  }
  #profile-links li {
    margin: 10px;
  }
  #profile-links li:hover {
    font-size: 50px;
  }
}
