@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --nav-bar: #b73e3e;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 5em;
}

/* NAV BAR AND HEADER SECTION */

nav {
  width: 100vw;
  height: 70px;
  position: fixed;
  background-color: var(--nav-bar);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  padding: 23px 30px;
  text-decoration: none;
  color: black;
  transition: all ease-in-out 0.5s;
}

nav a:hover {
  padding: 23px 50px;
  color: white;
  background-color: rgb(145, 28, 28);
  transition: all ease-in-out 0.5s;
}

/* main section */

#introduction {
  background: linear-gradient(45deg, white, rgb(196, 196, 196));
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#person-pic {
  width: 50%;
  aspect-ratio: initial;
  filter: grayscale(0.5);
}

#introduction h1 {
  font-family: "Poppins", bold, sans-serif;
  line-height: 1em;
}

#introduction h2 {
  margin: 0 0 0 15px;
  font-weight: 100;
}

#introduction p {
  width: 80%;
  margin-top: 10px;
}

.red-text {
  color: rgb(165, 37, 37);
}

/* About me section */

#about-me {
  width: 100%;
  height: 500px;
  background-color: #b73e3e;
  display: flex;
  text-align: center;
}

.text-container {
  width: 60%;
  margin: auto;
  height: 75%;
  background-color: #dd5353;
}

.picture-me {
  width: 30%;
  margin: auto;
  height: 75%;
  overflow: hidden;
  background: url(img/aboutmepic.jpeg);
  background-position: center;
  background-size: cover;
}

.text-container p {
  padding: 0 30px;
}

/* Projects section */

#projects {
  height: 110vh;
  width: 100vw;
}

#projects h1 {
  margin-left: 13%;
  color: black;
  padding-top: 70px;
}

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  height: 540px;
  margin: auto;
}

.project-tile {
  margin: 0 10px;
  width: 30%;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
}

.project-img {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  filter: blur(5px);
  margin-bottom: -45%;
  transition: all ease-in-out 0.5s;
}

.project-img:hover {
  transform: scale(1);
  filter: blur(0px);
  transition: all ease-in-out 0.5s;
  margin-bottom: 0;
}

.project-img:hover + h2.project-name {
  color: transparent;
  transition: all ease-in-out 0.5s;
}

.project-name {
  font-size: 20px;
  color: black;
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  user-select: none;
  pointer-events: none;
  transition: all ease-in-out 0.5s;
  text-align: center;
}

.placeholder {
  background-color: #b73e3e;
  width: 100%;
  height: 100%;
  margin-bottom: -43%;
}
